#!ipxe

:retry_boot
echo In inspector.ipxe
imgfree
# NOTE(dtantsur): keep inspection kernel params in [mdns]params in
# ironic-inspector-image and configuration in configure-ironic.sh
kernel --timeout 60000 https://tarballs.opendev.org/openstack/ironic-python-agent/dib/files/ipa-centos8-master.kernel ipa-insecure=1 ipa-inspection-collectors=default,extra-hardware,logs systemd.journald.forward_to_console=yes BOOTIF=${mac} ipa-debug=1 ipa-enable-vlan-interfaces={{ env.IRONIC_INSPECTOR_VLAN_INTERFACES }} ipa-inspection-dhcp-all-interfaces=1 ipa-collect-lldp=1 EXTRA_ARGS initrd=ironic-python-agent.initramfs sshkey="ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDa6l/LlI8pp0fvDTrLCCH7yVw0++VZjcEsx4qNHIiQVnKSGwJTjRtVqcDROlvxdOB1ZZipBkLJL2mbVdEKrQ4cIjIaOxbEdASFSk/5SLw3JHjqmOGGpp8j9MdV6aXQE41hryZviyhTkioTBn8uiwd/y0EJPbflOKP/AmrL+FYgyYzbX0Ut4YfXZsqTdYYQ65VXqX4dpXJRNPwG952i49LatBTJleDmEDKKdW2jxMS+RewHLX7XsIkGq9gODLO5uDjwLzGkD/FYzHcA2edO/zP1NZ2tiJcUE9PrbzzDi5FC/VERaErnOgeNoeguwkPiinqfKuXlU7BMGPXKjXFCShvN ubuntu@yash-controller-host" {{ env.IRONIC_KERNEL_PARAMS|trim }} || goto retry_boot
initrd --timeout 60000 https://tarballs.opendev.org/openstack/ironic-python-agent/dib/files/ipa-centos8-master.initramfs || goto retry_boot
boot
